{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add report</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div id="alert-box"></div>
            <form id="report-form" autocomplete="off">
                {% csrf_token %}
                {{report_form|crispy}}
                <button type="submit" class="btn btn-info mt-2">Save</button>
            </form>
        </div>
        </div>
    </div>
    </div>

    {% if no_data %}
        <div class="alert alert-warning" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill   flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            {{no_data}}
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{search_form|crispy}}
        <button type="submit" class= "btn btn-primary mt-3">Search</button>
    </form>
    <br>

    {% if sales_df %}

    Sales Dataframe
    {{sales_df|safe}}

    <br>
    Positions Dataframe
    {{positions_df|safe}}

    <br>
    Merged Dataframe
    {{merged_df|safe}}

    <br>
    Grouped By Dataframe
    {{df|safe}}

    <br>
    <img src="data:image/png;base64, {{chart|safe}}" id="img">

{% endif %}
<br>

<button class="btn btn-primary not-visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Add Report</button>

{% endblock content %}